.products-container{

padding:60px 80px;

}

.products-header{

margin-bottom:30px;

}

.products-header h1{

font-size:32px;

margin-bottom:5px;

}

.products-header p{

color:#7b8aa8;

margin-bottom:15px;

}

.search{

width:100%;

padding:12px;

background:#0c1429;

border:1px solid #1b2746;

border-radius:8px;

color:white;

}



.products-layout{

display:flex;

gap:30px;

}



.filters{

width:260px;

background:#0c1429;

border:1px solid #1b2746;

border-radius:12px;

padding:20px;

}

.filters h3{

margin-bottom:20px;

}

.filter-group p{

margin-bottom:10px;

color:#7b8aa8;

}

.filter-group ul{

list-style:none;

}

.filter-group li{

padding:10px;

border-radius:8px;

cursor:pointer;

margin-bottom:5px;

color:#9aa7c4;

transition:0.3s;

}

.filter-group li:hover{

background:#162037;

color:white;

}

.filter-group li.active{

background:linear-gradient(90deg,#35d0ff,#c04bff);

color:white;

}



.tip{

margin-top:30px;

background:#0f1c3a;

padding:15px;

border-radius:10px;

font-size:14px;

}



.products-grid{

flex:1;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.product-card{

background:#0c1429;

border:1px solid #1b2746;

border-radius:14px;

overflow:hidden;

transition:0.3s;

}

.product-card:hover{

transform:translateY(-5px);

box-shadow:0 15px 30px rgba(0,0,0,0.6);

}

.product-card img{

width:100%;

height:220px;

object-fit:cover;

}



.product-info{

padding:15px;

position:relative;

}

.product-info h4{

margin-bottom:8px;

}

.product-info p{

font-size:13px;

color:#7b8aa8;

margin-bottom:12px;

}



.price{

color:#35d0ff;

font-weight:600;

}



.cart-btn{

position:absolute;

right:15px;

bottom:15px;

border:none;

background:linear-gradient(90deg,#35d0ff,#c04bff);

padding:8px;

border-radius:8px;

cursor:pointer;

color:white;

}