section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}

h2,
h3 {
  color: #6c5ce7;
}

section a {
  color: #00b894;
  margin-right: 10px;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

.card-home {
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}